#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div class="aBox">
	<div id="crudList" class="${type.name}">
	
	    <div id="crudListSearch">
	        #{crud.search /}
	    </div>

	    <div id="crudListTable">
		    #{if get('showFields')}
		    	#{crud.table fields:showFields /}
			#{/if}
			#{else}
				#{crud.table /}
			#{/else}
		</div>
	
	    <div id="crudListPagination">
	        #{crud.pagination /}
	    </div>
	
		#{secure.check 'admin'}
		    <p id="crudListAdd">
		        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
		    </p>
		#{/secure.check}
	
	</div>
</div>

#{if get('showFields')}
	#{doLayout /}
#{/if}

<script type="text/javascript">
$(document).ready(function() {
	$('#crudList a').click(function () {
		$('#crudContent').empty();
		$('#crudContent').load($(this).attr('href'));
		return false;
	});
	$("#crudListSearch form").submit(function(){
		$.post($(this).attr('action'), {search: $('input:first').val()}, function(data) {		
			$('#crudContent').empty();
			$('#crudContent').append(data);
		});
		return false;
    });
});
</script>