<div id="menu">
	<ul>
		<li id ="home"><a href="index.html"><span>Home</span></a></li>
		<li id ="universities"><a href="#"><span>Universities</span></a></li>
		<li id ="departments"><a href="#"><span>Departments</span></a></li>
		<li id ="students"><a href="#"><span>Students</span></a></li>
		<li id ="professors"><a href="#"><span>Professors</span></a></li>
		<li id ="courses"><a href="#"><span>Courses</span></a></li>
		<li id ="subjects"><a href="#"><span>Subjects</span></a></li>
	</ul>
</div>


<script type="text/javascript">
	document.getElementById("${_as}").setAttribute("class", "active");
</script>
