<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CSS Heaven 1 | Free CSS Template</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="wrap">
		<div id="top">

			<h1 id="sitename">
				Name <em>Of</em> Website
			</h1>
			<div id="searchbar">

				<form action="#">
					<div id="searchfield">
						<input type="text" name="keyword" class="keyword" /> <input
							class="searchbutton" type="image" src="images/searchgo.gif"
							alt="search" />
					</div>

				</form>

			</div>

		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="index.html"><span>Welcome</span></a></li>
				<li><a href="styles.html"><span>Styles</span></a></li>
				<li><a href="articles.html"><span>Articles</span></a></li>
				<li><a href="notes.html"><span>Notes</span></a></li>
				<li><a href="#nogo"><span>A long link text</span></a></li>
			</ul>
		</div>
		<div id="contentwrap">

			<div id="mainpage">
				<div id="threecolumns">
				
					<div class="col1">
						<div class="ftbox">
							<div class="ftbox1"></div>
							<div class="ftcontent">
								<div class="post">
									<h2>
										<a href="#">Post Title</a>
									</h2>
									<img src="images/image5.jpg" width="270" height="140"
										alt="image" class="hboxthumb" />
									<p>1 1</p>
									<span class="readmore"><a href="#">Read More</a></span>
								</div>

							</div>
							<div class="ftbox2"></div>
						</div>								
					</div>
					
					<div class="col2">
						<div class="ftbox">
							<div class="ftbox1"></div>
							<div class="ftcontent">
								<div class="post">
									<h2>
										<a href="#">Post Title</a>
									</h2>
									<img src="images/image1.jpg" width="270" height="140"
										alt="image" class="hboxthumb" />
									<p>1 2</p>
									<span class="readmore"><a href="#">Read More</a></span>
								</div>
							</div>
							<div class="ftbox2"></div>
						</div>								
					</div>
					
					<div class="col3">
						<div class="ftbox">
							<div class="ftbox1"></div>
							<div class="ftcontent">
								<div class="post">
									<h2>
										<a href="#">Post Title</a>
									</h2>
									<img src="images/image6.jpg" width="270" height="140"
										alt="image" class="hboxthumb" />
									<p>1 3</p>
									<span class="readmore"><a href="#">Read More</a></span>
								</div>
							</div>
							<div class="ftbox2"></div>
						</div>				
					</div>
					
					<div class="clear"></div>
				</div>
			</div>			
		</div>
		<div id="contentbtm"></div>
		<div id="credits">
			<a href="http://cssheaven.org"
				title="Download free opensource CSS, XHTML Templates">Free CSS
				Template</a> by CSSHeaven.org
		</div>
	</div>
</body>
</html>
