<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>#{get 'title' /}</title>		
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
    <script type="text/javascript" src="public/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="public/javascripts/myjs.js"></script>
</head>

<body>

	<div id="wrap">
		<div id="header">
			<div id="logo">
				<a href="@{Application.index()}">sinau
				#{secure.check 'admin'}
					<span> administration</span>
				#{/secure.check}
				</a>
			</div>
			<ul id="tools">
				<li>
				#{if controllers.Security.isConnected()}
					<a href="@{Secure.logout()}">Log out</a>
				#{/if}
				#{else}
					<a id="loginButton" href="@{Secure.login()}">Log in</a>
				#{/else}
				</li>
			</ul>
		</div>
		
		<div id="menu">
			#{menuTabs as: get("active") /}
		</div>
		
		<div id="main">
			<div id="content">
				#{doLayout /}
			</div>			
		</div>
	
		<div id="footer">
			Web Design Patterns Homework by
			</br>
			Francisco Morgani Fatore - 64626826
			and Patricio Carneiro da Frota - 6426614
		</div>
	</div>
</body>
</html>

