<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>#{get 'title' /}</title>		
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
</head>

<body>

	<div id="wrap">
		<div id="header">
			<div id="logo">
			#{if session.username && controllers.Secure.Security.invoke("check", 'admin')}
				<a href="@{Admin.index()}">sinau <span>administration</span></a>
			#{/if}
			#{else}
				<a href="@{Application.index()}">sinau</a>
			#{/else}
			</div>
			<ul id="tools">
				<li>
				#{if controllers.Security.isConnected()}
					<a href="@{Secure.logout()}">Log out</a>
				#{/if}
				#{else}
					<a href="@{Admin.index()}">Log in</a>
				#{/else}
				</li>
			</ul>
		</div>
		
		<div id="menu">
			#{menuTabs as: get("active") /}
		</div>
		
		<div id="main">
			<div id="content">
				#{doLayout /}
			</div>			
		</div>
	
		<div id="footer">
			Web Design Patterns Homework by
			</br>
			Francisco Morgani Fatore - 64626826
			and Patricio Carneiro da Frota - 6426614
		</div>
	</div>
</body>

</html>

